.hot-deals {
    display: flex;
    justify-content: space-around;
    background-color: #80191D;
    width: 94%;
    margin: 0 auto 5rem;
    height: 372px;
    border-radius: 1rem;
}

.deal-tails {
    text-align: center;
    align-self: center;
}

.deal-tails h1 {
    font-size: 2.5rem;
}

.deal-tails p, h1 {
    color: #fff;
    line-height: 1.5;
}

.deal-tails p{
    color: rgba(255, 255, 255, 0.6);
    font-size: .8rem;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem 0;
}

.timer h2 {
    background-color: #fff;
    margin-right: 1rem;
    padding: .6rem;
    width: 60px;
    border-radius: 4px;
}

.timer span {
    font-size: .6rem;
    display: block;
}

.shop-now-btn {
    color: #fff;
    background-color: #000;
    padding: .5rem 3.5rem;
    font-weight: 600;
    border-radius: .5rem;
}

.toyota-container {
    position: relative;
    z-index: 1;
}

.toyota-container .board {
    position: relative;
    top: 2.5rem;
}

.toyota-container .boards .maze-board {
    position: absolute;
    top: .5rem;
    right: -8rem;
    z-index: -1;
}

.toyota img {
    position: absolute;
    bottom: 1.5rem;
    left: -5rem;
}

@media (min-width: 1025px) and (max-width: 1280px) {

    .hot-deals{
        overflow-x: hidden;
    }
  
    /* .boards{
        margin-left: -10rem;
    } */

    .boards img{
        margin-left: -10rem;
    }

    .maze-board{
        display: none;
    }

    .board{
        /* width: 350px; */
    }
    
    .toyota img{
        /* max-width: 300px; */
        margin-left: -11rem;
    }
   
}


@media (min-width: 768px) and (max-width: 1024px) {

.boards{
    margin-left: -10rem;
}

.board{
    max-width: 350px;
}

.maze-board{
    display: none;
}

.toyota img{
    max-width: 400px;
    margin-left: -7rem;
}
}

@media (min-width: 481px) and (max-width: 767px) {
    .deal-tails{
        z-index: 1000;
    }

    .deal-tails h1, p{
        margin-left: 2rem;
    }
  
    .maze-board{
        display: none;
    }

    .toyota img{
        z-index: 1;
        margin-left: -23rem;
        max-width: 450px;
    }

    .board{
        display: none;
    }
    
}