.category{
    margin: 5rem 0;
}

.category-heading {
    font-size: 30px;
    font-weight: 600;
    color: #1E3A8A;
    text-align: center;
}

.category-products{
    font-size: 15px;
    font-weight: 400;
    color: #00000080;
    text-align: center;
    margin-top: 1rem;
}

.category-container{
    display: grid;
    grid-template-columns: 20px 20px 20px 20px;
    grid-column-gap: 15rem;
    justify-content: center;
}

.category-item{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-item img{
    height: 141px;
    width: 113px;
    cursor: pointer;
}

.category-item .item-name{
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.category .flash-sales{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.category .flash-sale-orange-div{
    background-color: var(--theme-color);
    width: 94%;
    border-radius: 15px 15px 0 0;
}

.category .text{
    color: var(--gen-color-2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 4rem;
}

.category .text h3{
    cursor: pointer;
}

.category .text .flash-icon{
    height: 24px;
    width: 24px;
    margin-right: 1rem;
    margin-bottom: -5px;
}

.category .text .dropdown-icon{
    height: 6px;
    width: 14.73px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.category .flash-sales-container{
    background-color: #DFEDFA;
    width: 94%;
    border-radius: 0 0 15px 15px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2rem;
}

.category .flash-sales-items img{
    height: auto;
    width: 320px;
    margin: 2rem auto .5rem auto;
    cursor: pointer;
    object-fit: contain;
}

.category .mega-sales{
    background: #8B49A9;
    border-radius: 20px;
    height: 320px;
    width: 94%;
    margin-top: 10rem;
    display: flex;
    gap: 10rem;
    color: var(--gen-color-2);
    padding: 5rem 4rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.category .mega-sales .mega-sales-text h1{
    font-size: 55px;
    font-weight: 700;
    line-height: 56px;
    margin-top: -1rem;
}

.category .mega-sales .mega-sales-text p{
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    margin-top: 1rem;
}

.category .mega-sales .mega-sales-text h2{
    font-size: 16px;
    font-weight: 800;
    position: absolute;
    margin-left: 30rem;
    margin-top: -15rem;
  }


.category .mega-sales .mega-sales-btn{
    position: relative;
    margin-left: 10rem;
    margin-top: 0;
    display: flex;
    gap: 3rem;
    text-align: center;
    z-index: 9999;
 }

 .category .mega-sales .mega-sales-btn img.theme-img{
    margin-left: -1rem;
   height: 340px;
   width: 280.49px;
   margin-top: -8rem;
   z-index: 999;
}


 .category .mega-sales .mega-sales-btn .waves img {
    position: absolute;
    z-index: 1;
    top: -5rem;
    /* left: 0; */
    
 }

 /* .category .mega-sales .mega-sales-btn .waves{
    width: auto;
    left: -4rem;
 } */

 .category .mega-sales .mega-sales-btn h1{
    font-size: 30px;
    font-weight: 700;
 }

 .category .mega-sales .mega-sales-btn p{
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
 }
 

 .category .mega-sales .mega-sales-btn button{
    background-color: var(--gen-color-2);
    border-radius: 10px;
    color: #8B49A9;
    height: 39px;
    width: 155px;
    margin-top: 2rem;
 }

 @media(max-width:1050px) {
    .category-container{
        grid-template-columns: 20px 20px;
        grid-column-gap: 15rem;
    }

    .category .flash-sales-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
       
    }

    .category .flash-sales-container .flash-sales-items img{
       margin: 2rem 7rem auto;
    }

    .category .mega-sales{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 2rem 2rem;
    }

    .category .mega-sales .mega-sales-img img{
        height: 200px;
        width: 170px;
        margin-top: -4rem;
        margin-left: -18rem;
    }

    .category .mega-sales .mega-sales-img h1{
        margin-top: 3rem;
        margin-left: -15rem;
    }

    .category .mega-sales .mega-sales-btn{
        margin-top: -10rem;
        margin-left: 9rem;
    }
}