.heading {
    text-align: center;
}

.heading h1 {
    color: #1e3a8a;
    font-size: 2rem;
}


.slider-container-review {
    width: 94%;
    margin: 2rem auto;
    background-color: #DFEDFA;
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;
}

.slider-container-review .review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    margin: 0 1rem;
    text-align: center;
}

.slider-container-review .review h3 {
    color: #FE6C2C;
}

.slider-container-review .review p {
    color: rgba(0, 0, 0, 1);
}

.slider-container-review .review .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slick-slide {
    padding: 0 1rem;
}

.slick-slide:first-child {
    padding-left: 0;
}

.slick-slide:last-child {
    padding-right: 0;
}

