* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --theme-color: #FE6C2C;
  --gen-color-1: #000000;
  --gen-color-2: #FFFFFF;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}


